@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,900;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-size: calc(14px + .3vw);
  font-family: 'Source Sans Pro', sans-serif;
}
@media (prefers-color-scheme: dark) {
  *{
    background: #222;
    color: white;
    border: #eee;
  }
}
@media (prefers-color-scheme: light) {
  *{
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: #333;
  }
}
.ml-auto{
  margin-left: auto;
}
.fflRow{
  display: flex;
  flex-flow: row;
  width:100%;
  justify-content: space-between;
}
/*-----------------------------------------------Start-Of-Navbar----------------------------------*/
/* #region Navbar */
.linkButtons{
  text-decoration: none;
}
nav{
  z-index: 20;
  padding: 20px 10px;
}
@media only screen and (min-width: 901px) {
  .navIcons{
    margin-right: 50px;
    border: none;
    transition: transform 0.3s;
    background-color: transparent;
  }
  .nav-menu{
    background-color: transparent;
  }
  .navIcons:hover{
    transform: translateY(-5px) scale(1.05) rotateZ(2deg) translateX(3px);
  }
  nav{
    font-size: calc(20px + .3vw);
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    filter:brightness(95%);
    box-shadow: 0px -50px 60px 0px;
    height: 10vh;
  }
  nav .hamburgIcon{
    display: none;
    border:none;
  }
  nav>div{
    display: flex;
    margin-left: auto;
  }
}
@media only screen and (max-width: 900px) {
  nav{
    position: relative;
    font-size: calc(20px + .3vw);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    filter:brightness(95%);
    box-shadow: 0px -50px 60px 0px;
    height: 8vh;
  }
  nav .hamburgIcon{
    display: inline-block;
  }
  nav>div>.linkButtons{
    background-color: transparent;
    position: relative;
    padding: calc(14px + .3vw);
    margin: 20px 20px;
    isolation: isolate;
    cursor:pointer;
  }
  nav>div>.linkButtons::after{
    content: "";
    box-shadow: 27px -25px 107px 0px rgba(0, 0, 0, 0.11) inset;
    position: absolute;
    border-right: 3px solid;
    border-bottom: 3px solid;
    box-shadow: inset;
    inset: 0;
    transition: width 0.4s; 
    transform: skewX(-15deg);
  }
  nav>div>.linkButtons:hover{
    filter: brightness(210%);
  }
  nav>.nav-menu{
    border-bottom: 2px solid;
    width:100vw;
  }
  

}
/* #endregion Navbar */
/*-----------------------------------------------Start-Of-HomePage--------------------------------*/
/* #region HomePage */
.homePage{
  display: grid;
  grid-template-columns:  1fr 1fr;
  height:600px;
}
.gameModes{
  display: grid;
  padding:10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  height:80%;
}
.homePage h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: calc(18px + 0.9vw);
}
.gameModes>.modes{
  isolation: isolate;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background: #FFAE00;
  color:black;
  width: 100%;
  text-decoration: none;
  font-size: calc(16px + 1vw);
  font-weight: bold;
}
@media only screen and (max-width: 900px) {
  .homePage{
    display: grid;
    grid-template-columns:  1fr;
    height:600px;
  }
}
/* #endregion HomePage */
/*-----------------------------------------------Start-Of-GameStuff-------------------------------*/
/* #region GameStuff */
.nextToType{
  border-left:2px solid #ffb71a;
}
.nextToTypeBlinking{
  animation: blink .7s infinite ease-in;
}
@keyframes blink {
  0%{
    border-left:2px solid #ffb71a;
  }
  30%{
    border-left:2px solid #ffb71a;
  }
  50%{
    border-left:2px solid #ffb61a00;
  }
  70%{
    border-left:2px solid #ffb71a;
  }
  100%{
    border-left:2px solid #ffb71a;
  }
}
.gameMain{
  margin:auto;
  width:60vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height:80vh;
}
.miniMenu{
  display: flex;
}
.miniMenu>div{
  margin: 10px;
  cursor: pointer;
  transition: color .3s, transform .3s ;
}
.miniMenu>div:hover{
  color: #FFAE00;
  transform: scale(1.05);
}
.playBox{
  
}
.toBeTyped{
  display: flex;
}
.typingArea{
  padding-top: 5px;
  min-height:25vh;
  border-radius: 5px;
}
.typingArea > span{
  opacity: 0.5;
}
.typingArea > .correct{
  opacity: 1;
}
.typingArea > .incorrect{
  opacity: 1;
  color: rgb(236, 49, 49);
}
.runStats{
padding-bottom: 10px;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
border-bottom: 2px solid;
}
/* #endregion GameStuff */